<!DOCTYPE html>
<html>
<head>
<title> Welcome to my page! </title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'intro.css' %}" type="text/css"/>
</head>
<body>

	<div id="login-box">
		<div class="left-box">
			<h1> Sign Up</h1>
			
				<input type="text" name="username" placeholder="Username"/>
				<input type="text" name="email" placeholder="Email"/>
				<input type="text" name="password" placeholder="Password"/>
				
				<input type="password" name="password2" placeholder="Retype password"/>
				
				<input type="submit" name="signup-button" placeholder="Sign Up"/>
				
			</div>
			<div class="right-box">
				<span class=signinwith>Sign in with<br/>Social Network
				</span>
				
			<button class="social facebook">Log in with Facebook</button>
			<button class="social dataline"><a href="{% url  'tra' %}">Log in with blog</a></button> 
			<button class="social google">Log in with Google</button>
			
			</div>
			<div class=or>OR</div>
			
	</div>
	
</body>
</html>